@font-face {
    font-family: 'OpenSans';
    src: url([[font:theme_boostchild|OpenSans-Regular.ttf]]);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans SemiBold';
    src: url([[font:theme_boostchild|OpenSans-SemiBold.ttf]]);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans Bold';
    src: url([[font:theme_boostchild|OpenSans-Bold.ttf]]);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans ExtraBold';
    src: url([[font:theme_boostchild|OpenSans-ExtraBold.ttf]]);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans Light';
    src: url([[font:theme_boostchild|OpenSans-Light.ttf]]);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans Medium';
    src: url([[font:theme_boostchild|OpenSans-Medium.ttf]]);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans Italic';
    src: url([[font:theme_boostchild|OpenSans-Italic.ttf]]);
    font-weight: normal;
    font-style: normal;
}