// Variables
$primarycolor: #622688 !default;
$navbarcolor: #ddeeff !default;
$secondarycolor: #ea7e37 !default;
$fontcolor: #333333 !default;
$cardbgcolor: #ebf6ff !default;
// *****

$font: OpenSans, sans-serif;
$fontbold: OpenSans Bold, sans-serif;


